body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container{
    max-width: 600px;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    margin: 0;
    background-color: steelblue;
    line-height: 1.1;
    padding: 20px 0;
}

#colorDisplay{
    font-size: 200%;
}

#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected{
    background-color: blue;
}